{% extends 'base.html.twig' %}
{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}
{% block title %}Register{% endblock %}

{% block body %}
    <h1>{% trans from 'form' %}Registration.Register{% endtrans %}</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.customer.name) }}
        {{ form_row(registrationForm.customer.age) }}
        {{ form_row(registrationForm.customer.city) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-success">{{ 'Registration.Submit'|trans({},'form') }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
